.rangkaui-button {
  padding: 4px 8px;
  max-width: fit-content;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;

  &:hover {
    background-color: #f3f4f6;
  }

  &:active {
    transform: translateY(1px);
  }
}