.passwordInputContainer {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  background-color: white;
}

.passwordInput {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
}

.toggleButton {
  margin-left: 8px;
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.toggleButton:hover {
  text-decoration: underline;
}
